extends ./layout.jade

block content
	.container
		h1.text-center Post

		form
			.form-group
				label(for='handle') Handle
				input#handle.form-control(type='email')
			.form-group
				label(for='message') Message
				textarea#text.form-control(rows='3')

				button.btn.btn-default(type='submit') Post

				













